<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>서울시상권트렌드2021</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/factor.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>		
	</head>
	<body>
		<div class="container">
			<div class="page">
				<div class="header">
					<h1>지역별 요인분석</h1>
				</div>
				<div class="map">
					지도
				</div>
				<div class="factors">
					<div class="population">
						인구수
					</div>
					<div class="house">
						가구세대
					</div>
					<div class="income">
						수입
					</div>


				</div>
				
			</div>
		</div>
	</body>
</html>