<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>서울시상권트렌드2021</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/factor.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>		
	</head>
	<body>
		<div class="container">
			<div class="page">
				<div class="header">
					<h1>지역별 요인분석</h1>
				</div>
				<div class="map">
					
					<iframe id="html-contents" src="seoulMarker.html"></iframe>        

				</div>
				<div class="factors">
					<button class="ajax" value="1000016" onclick="ajax_test(this.value)" >test</button>
					<button class="ajax" >test</button>
					<button class="ajax" >test</button>
					<button class="ajax" >test</button>
					<button class="ajax" >test</button>
					<div id="first">
						<canvas id="gender_ratio" width="400" height="250"></canvas>
					</div>
					<div id="second">
						
						<canvas id="age_ratio" width="400"	height="250"></canvas>
					</div>
					<div id="third">
						<canvas id='sales_ratio'width='400' height="250"></canvas>
					</div>
				</div>
				<div class="count">
					<canvas id='count_store' width="600px" height="130px"></canvas>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/factor.js"></script>
	</body>
</html>