<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>요인분석</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/factor.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>		
	</head> 
	<body>
		<div class="container">
			<div class="page">
				<div class="header">
					<h1>지역별 요인분석</h1>
				</div>
				<div class="map">
					<!-- <h2>서울시 주요 상권 지도</h2> -->
					<div class="map_range">
						
						<iframe id="html-contents" src="/factor/map"></iframe>        
						<div class="map_explain">
							<!-- <h1>서울시 top5 상권</h1>
							<p>이 상권들의 매출이 높은 이유를 설명</p> -->

						</div>
					</div>
					<div class="graph_range">
						<div class="graph_box">
							<canvas id="corr_1" widht="400" height="300"></canvas>
							<script>
								const ctx = document.getElementById('corr_1').getContext('2d');
								const myChart = new Chart(ctx, {
									type: 'bar',
									data: {
										labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
										datasets: [{
											{%for i in data%}
											label: {{data}},
											data: [12, 19, 3, 5, 2, 3],
											{%endfor%}
											backgroundColor: [
												'rgba(255, 99, 132, 0.2)',
												'rgba(54, 162, 235, 0.2)',
												'rgba(255, 206, 86, 0.2)',
												'rgba(75, 192, 192, 0.2)',
												'rgba(153, 102, 255, 0.2)',
												'rgba(255, 159, 64, 0.2)'
											],
											borderColor: [
												'rgba(255, 99, 132, 1)',
												'rgba(54, 162, 235, 1)',
												'rgba(255, 206, 86, 1)',
												'rgba(75, 192, 192, 1)',
												'rgba(153, 102, 255, 1)',
												'rgba(255, 159, 64, 1)'
											],
											borderWidth: 1
										}]
									},
									options: {
										scales: {
											y: {
												beginAtZero: true
											}
										}
									}
								});
								</script>
						</div>
						<div class="graph_box">
							<canvas id="corr_2" widht="400" height="300"></canvas>
						</div>
					</div>
					
				</div>
			<div class="range">

			</div>

			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/factor.js"></script>
	</body>
</html>