<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>서울시상권트렌드2021</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="wrap">
			<div class="intro_bg">
				<div class="header">
					<div class="searchArea">
						<form >
							<input type="search" placeholder="Search">
							<span>검색</span>
						</form>	
					</div>
					<ul class="nav">
						<li><a href ='#'>HOME</a></li>
						<li><a href="#">ABOUT</a></li>
						<li><a href="#">SERVICE</a></li>
						<li><a href="#">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>