<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>서울시상권트렌드2021</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div class="intro_bg">
				<div class="header" id="link_header">
					<button onclick= "modal('block')" class="btn_menu">
						<img src="../static/image/menu_icon.png">
					</button>
					<div class="modal" id="modal_on">
						<nav class="inner_nav">
							<ul class="main_menu">
								<li><a href="	factor">요인분석</a></li>
								<li><a href="#">부가서비스</a></li>
								<li><a href="#">프렌차이즈</a></li>
							</ul>
						</nav>
						<button onclick='modal("none")' class="btn_close" id="modal_on">
							<img src="../static/image/close_icon.png">
						</button>
					</div>

					<ul class="nav">
						<li><a href ='#link_header'>HOME</a></li>
						<li><a href="#link_top_five">REVENUE</a></li>
						<li><a href="#link_total_amount">CHANGE</a></li>
						<li><a href="#link_trend_report">TREND</a></li>
					</ul>
				</div>
				<div class="intro_title">
					<h1>서울 상권 트렌드 2021</h1>
				</div>
				<div class="intro_txt">
					<p>고객과 사장님, 그리고 서울시의 2021년 모습을 그려봅니다.<p>
					<p>이 트렌드가 사장님의 가게 운영에 도움이 되어</p>
					<p>더 많은 사람들이 좋은 서비스를</p>
					<p>원하는 곳에서 받을 수 있게 되길 바랍니다.</p>
				</div>
			</div>
			<!-- intro_end -->
			<ul class="amount">
				<li>
					<div>
						<div>가장 매출이 높은 상권</div>
						<div>{{ data.get('highest_place') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>가장 매출이 높은업종</div>
						<div>{{ data.get('highest_type') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>가장 매출 상승률이 높은 상권</div>
						<div>{{ data.get('highest_ratio_place') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>가장 매출 상승률이 높은 업종</div>
						<div>{{ data.get('highest_ratio_type') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>평균 매출</div>
						<div>{{ data.get('sales') }}</div>
					</div>
				</li>
			</ul>
			<!-- first page end  -->
			<div class="top_five" id="link_top_five">
				<h1>
					<b>01</b>
					매출 증감률 상위,하위 업종
				</h1>
				<div class="exp">
					매출 증가 상위 업종에는 서비스, 요식업, 미용업
					<br>매출 증가 하위 업종에는 서비스, 요식업, 미용업
				</div>
				<div class="report_rank">
					<div class="rank_box">
						<h3>매출 증가 상위 업종</h3>
						<section class="ranking">
							<header>
								<span class="c_1">순위</span>
								<span class="c_2">업종</span>
								<span class="c_3">증가율</span>
							</header>
							<dl class="first">
								<dt class="c_1">1</dt>
								<dd class="c_2">{{data['high_rank'][0]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][0]['ratio']}}</dd>	
							</dl>
							<dl>
								<dt class="c_1">2</dt>
								<dd class="c_2">{{data['high_rank'][1]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][1]['ratio']}}</dd>	
								
							</dl>
							<dl>
								<dt class="c_1">3</dt>
								<dd class="c_2">{{data['high_rank'][2]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][2]['ratio']}}</dd>	
							
							</dl>
							<dl>
								<dd class="c_1">4</dd>
								<dd class="c_2">{{data['high_rank'][3]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][3]['ratio']}}</dd>	
								
							</dl>
							<dl>
								<dt class="c_1">5</dt>
								<dd class="c_2">{{data['high_rank'][4]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][4]['ratio']}}</dd>	
							</dl>
						</section>

					</div>
					<div class="rank_box">
						<h3>매출 증가 상위 업종</h3>
						<section class="ranking">
							<header>
								<span class="c_1">순위</span>
								<span class="c_2">업종</span>
								<span class="c_3">증가율</span>
							</header>

							<dl class="first">
								
								<dt class="c_1">1</dt>
								<dd class="c_2">{{data2[0].get('상권_코드')}}</dd>
								<dd class="c_3">{{data2[0].get('전년도비_매출_증감률')}}</dd>	
							</dl>
							<dl>
								<dt class="c_1">2</dt>
								<dd class="c_2">{{data2[1].get('상권_코드')}}</dd>
								<dd class="c_3">{{data2[1].get('전년도비_매출_증감률')}}</dd>
								
							</dl>
							<dl>
								<dt class="c_1">3</dt>
								<dd class="c_2">{{data2[2].get('상권_코드')}}</dd>
								<dd class="c_3">{{data2[2].get('전년도비_매출_증감률')}}</dd>
							</dl>
							<dl>
								<dd class="c_1">4</dd>
								<dd class="c_2">{{data2[3].get('상권_코드')}}</dd>
								<dd class="c_3">{{data2[3].get('전년도비_매출_증감률')}}</dd>
							</dl>
							<dl>
								<dt class="c_1">5</dt>
								<dd class="c_2">{{data2[4].get('상권_코드')}}</dd>
								<dd class="c_3">{{data2[4].get('전년도비_매출_증감률')}}</dd>
							</dl>
						</section>
						
					</div>
				
				</div>
				<!-- second page -->
			</div>
			<div class="total_amount" id="link_total_amount">
				<h1>
					<b>02</b>
					전체적 매출, 폐업률 변화
				</h1>
				<div class="report_rank">
					<div class="rank_box">
						<h3>매출</h3>
						<canvas id="sales_bar" width="350" height="300"></canvas>
					</div>
					<div class="rank_box">
						<h3>폐업률</h3>
						<canvas id="closed_bar" width="350" height="300"></canvas>

					</div>
				</div>
				
			</div>
			<!-- fourth page -->
			<div class="trend_report" id="link_trend_report">
				<h1>
					<b>03</b>
					트렌드
				</h1>
				<div class="exp">
					<h3>배달이 활성화된 업종이 상승</h3>
					배달이 활성화된 업종이 코로나 이후 상승세를 보이고 있다	
				</div>
				<div class="report_rank">
					<div class="graph_box">
						<canvas id="trend_chart" width="500" height="350"></canvas>
					</div>
				</div>

			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/main.js"></script>
		
	
	</body>
</html>