<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>서울시상권트렌드2021</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	</head>
	<body>
		<div class="wrap">
			<div class="intro_bg">
				<div class="header" id="link_header">
					<div class="nav_area">
						<div id="first_nav">
						</div>
						<div>
						</div>
						<div>
						</div>
					</div>
					<ul class="nav">
						<li><a href ='#link_header'>HOME</a></li>
						<li><a href="#link_top_five">REVENUE</a></li>
						<li><a href="#link_total_amount">CHANGE</a></li>
						<li><a href="#link_trend_report">TREND</a></li>
					</ul>
				</div>
				<div class="intro_title">
					<h1>서울 상권 트렌드 2021</h1>
				</div>
				<div class="intro_txt">
					<p>고객과 사장님, 그리고 서울시의 2021년 모습을 그려봅니다.<p>
					<p>이 트렌드가 사장님의 가게 운영에 도움이 되어</p>
					<p>더 많은 사람들이 좋은 서비스를</p>
					<p>원하는 곳에서 받을 수 있게 되길 바랍니다.</p>
				</div>
			</div>
			<!-- intro_end -->
			<ul class="amount">
				<li>
					<div>
						<div>가장 매출이 높은 상권</div>
						<div>{{ data.get('highest_place') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>가장 매출이 높은업종</div>
						<div>{{ data.get('highest_type') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>가장 매출 상승률이 높은 상권</div>
						<div>{{ data.get('highest_ratio_place') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>가장 매출 상승률이 높은 업종</div>
						<div>{{ data.get('highest_ratio_type') }}</div>
					</div>
				</li>
				<li>
					<div>
						<div>평균 매출</div>
						<div>{{ data.get('sales') }}</div>
					</div>
				</li>
			</ul>
			<!-- first page end  -->
			<div class="top_five" id="link_top_five">
				<h1>
					<b>01</b>
					매출 증감률 상위,하위 업종
				</h1>
				<div class="exp">
					매출 증가 상위 업종에는 서비스, 요식업, 미용업
					<br>매출 증가 하위 업종에는 서비스, 요식업, 미용업
				</div>
				<div class="report_rank">
					<div class="rank_box">
						<h3>매출 증가 상위 업종</h3>
						<section class="ranking">
							<header>
								<span class="c_1">순위</span>
								<span class="c_2">업종</span>
								<span class="c_3">증가율</span>
							</header>
							<dl class="first">
								<dt class="c_1">1</dt>
								<dd class="c_2">{{data['high_rank'][0]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][0]['ratio']}}</dd>	
							</dl>
							<dl>
								<dt class="c_1">2</dt>
								<dd class="c_2">{{data['high_rank'][1]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][1]['ratio']}}</dd>	
								
							</dl>
							<dl>
								<dt class="c_1">3</dt>
								<dd class="c_2">{{data['high_rank'][2]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][2]['ratio']}}</dd>	
							
							</dl>
							<dl>
								<dd class="c_1">4</dd>
								<dd class="c_2">{{data['high_rank'][3]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][3]['ratio']}}</dd>	
								
							</dl>
							<dl>
								<dt class="c_1">5</dt>
								<dd class="c_2">{{data['high_rank'][4]['type']}}</dd>
								<dd class="c_3">{{data['high_rank'][4]['ratio']}}</dd>	
							</dl>
						</section>

					</div>
					<div class="rank_box">
						<h3>매출 증가 상위 업종</h3>
						<section class="ranking">
							<header>
								<span class="c_1">순위</span>
								<span class="c_2">업종</span>
								<span class="c_3">증가율</span>
							</header>
							<dl class="first">
								<dt class="c_1">1</dt>
								<dd class="c_2">{{data['low_rank'][0]['type']}}</dd>
								<dd class="c_3">{{data['low_rank'][0]['ratio']}}</dd>	
							</dl>
							<dl>
								<dt class="c_1">2</dt>
								<dd class="c_2">{{data['low_rank'][1]['type']}}</dd>
								<dd class="c_3">{{data['low_rank'][1]['ratio']}}</dd>	
								
							</dl>
							<dl>
								<dt class="c_1">3</dt>
								<dd class="c_2">{{data['low_rank'][2]['type']}}</dd>
								<dd class="c_3">{{data['low_rank'][2]['ratio']}}</dd>	
							
							</dl>
							<dl>
								<dd class="c_1">4</dd>
								<dd class="c_2">{{data['low_rank'][3]['type']}}</dd>
								<dd class="c_3">{{data['low_rank'][3]['ratio']}}</dd>	
							</dl>
							<dl>
								<dt class="c_1">5</dt>
								<dd class="c_2">{{data['low_rank'][4]['type']}}</dd>
								<dd class="c_3">{{data['low_rank'][4]['ratio']}}</dd>	
							</dl>
						</section>
						
					</div>
				
				</div>
				<!-- second page -->
			</div>
			<div class="total_amount" id="link_total_amount">
				<h1>
					<b>02</b>
					전체적 매출, 폐업률 변화
				</h1>
				<div class="report_rank">
					<div class="rank_box">
						<h3>매출</h3>
						<td>
							{{data['sales']}}
							{{data['last_sales']}}
						</td>
					</div>
					<div class="rank_box">
						<h3>폐업률</h3>
						<td>
							{{data['closed_ratio']}}
							{{data['last_closed_ratio']}}
						</td>
					</div>
				</div>
				
			</div>
			<!-- fourth page -->
			<div class="trend_report" id="link_trend_report">
				<h1>
					<b>03</b>
					트렌드
				</h1>
				<div class="exp">
					<h3>배달이 활성화된 업종이 상승</h3>
					배달이 활성화된 업종이 코로나 이후 상승세를 보이고 있다	
				</div>
				<table class="report_rank">
					<tr class="graph_box">
						<td>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</body>
</html>